.simple-accordion__panel[aria-hidden=true] {
  display: none;
}

.simple-accordion__header {
  background: transparent;
  border: 1px solid black;
  display: block;
  margin-bottom: 16px;
  padding: 12px;
  text-align: left;
  width: 100%;
}

/* title opened */
.simple-accordion__header[aria-expanded="true"]:before {
  content: "- ";
}

/* title closed */
.simple-accordion__header[aria-expanded="false"]:before {
  content: "+ ";
}

.simple-accordion__title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;  
}
