// Media Blocks
//------------------------------------------------------------------------------
@import 'variables';

.media__item {
  display: flex;
  justify-content: center;
  width: 100%;

  + .media__item {
    margin-top: 2rem;
  }
}

.media-type-remote_video {
  max-width: 39.0625rem;
  width: 100%;

  > .field--name-field-media-oembed-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.media-type-local_video {
  max-width: 39.0625rem;

  video {
    height: auto;
    width: 100%;    
  }
}

.field--name-field-media-caption {
  font-size: 0.9em;
  margin-top: 1em;
}
