<div class="statistic">
  <div class="statistic__value">
    {% if content.field_stat_icon.0 %}
      <div class="statistic__icon">
        <span class="fa fa-{{ content.field_stat_icon.0|render }}"></span> 
      </div>
    {% endif %}
    <div class="statistic__statistic">
      {{ content.field_stat_statistic.0 }}
    </div>
  </div>
  <div class="statistic__content">
    <h3 class="statistic__title">{{ content.field_stat_title.0 }}</h3>
    <div class="statistic__text">
      {{ content.field_stat_text }}  
    </div>
  </div>
</div>
