/* line 5, theme/scss/_block-hero.scss */
.block--hero {
  display: table;
  max-width: none;
  width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 16.5rem;
}

@media only screen and (min-width: 48.0625em) {
  /* line 5, theme/scss/_block-hero.scss */
  .block--hero {
    height: 30rem;
  }
}

/* line 17, theme/scss/_block-hero.scss */
.block--hero:before {
  background-color: rgba(0, 0, 0, 0.25);
  content: ' ';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* line 28, theme/scss/_block-hero.scss */
.block--hero h1 {
  color: white;
  margin-bottom: 0;
}

/* line 33, theme/scss/_block-hero.scss */
.block--hero .field--name-field-hero-subtitle {
  color: white;
  margin-bottom: 2em;
}

/* line 39, theme/scss/_block-hero.scss */
.block--hero .field--name-field-links a {
  background-color: black;
  border-radius: 2em;
  color: white;
  display: inline-block;
  margin: 0 0.75em;
  padding: 0.5em 2em;
}

/* line 50, theme/scss/_block-hero.scss */
.block--hero .field--name-field-image {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 58, theme/scss/_block-hero.scss */
.block--hero .field--name-field-image img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: none;
}

/* line 68, theme/scss/_block-hero.scss */
.hero-content {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  text-align: center;
  z-index: 20;
}

/* line 81, theme/scss/_block-hero.scss */
html.object-fit .c-bgd-image.c-bgd-image-no-parallax {
  background-image: none !important;
}

/* line 87, theme/scss/_block-hero.scss */
html.no-object-fit .c-bgd-image .field--name-field-c-bgd-image,
.c-bgd-image.c-bgd-image-parallax .field--name-field-c-bgd-image {
  display: none;
}
