<div class="accordion-item js-accordion__panel">
  <div class="accordion-item__title js-accordion__header">
    {{ content.field_accordion_item_title.0 }}
  </div>
  <div class="accordion-item__content">
    {{ content.field_accordion_item_content.0 }}
  </div>
</div>
