@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    position: relative;
    left: -100px;
  }
  100% {
    position: relative;
    left: 0;
  }
}

.block--hero {
  animation: fade-in 500ms ease-in;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.block--hero:before {
  background-color: rgba(0, 0, 0, 0.25);
  content: ' ';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hero__content {
  -ms-flex-align: center;
      align-items: center;
  animation: slide-in 500ms ease-out, fade-in 500ms ease-in;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin: 0 auto;
  max-width: 75em;
  min-height: 55vh;
  padding: 10em 0.9375em;
}

@media only screen and (min-width: 48.0625em) {
  .hero__content {
    min-height: 100vh;
  }
}

.hero__content-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  z-index: 20;
}

.hero__image {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__image img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: none;
}

.hero__title {
  color: white;
  line-height: 1;
  margin-bottom: 0.25em;
  text-shadow: #444 1px 1px 3px;
  text-transform: uppercase;
}

.hero__subtitle {
  color: white;
  font-size: 1em;
  letter-spacing: -0.25px;
  line-height: 1.2;
  margin-bottom: 3em;
  text-shadow: #444 1px 1px 3px;
}

@media only screen and (min-width: 48.0625em) {
  .hero__subtitle {
    font-size: 1.5em;
    max-width: 50%;
  }
}

.hero__links {
  display: -ms-flexbox;
  display: flex;
}

.hero__links a {
  margin-right: 1em;
}

.hero__links a:last-child {
  margin-right: 0;
}
