.block--cta h3 {
  margin-bottom: 0;
}

.block--cta .field--body {
  margin-bottom: 1.5em;
}

.block--cta .field--body > *:last-child {
  margin-bottom: 0;
}

.field--name-field-cta-links {
  display: -ms-flexbox;
  display: flex;
}

.text-align-center .field--name-field-cta-links {
  -ms-flex-pack: center;
      justify-content: center;
}

.text-align-right .field--name-field-cta-links {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.field--name-field-cta-links a {
  display: block;
  margin: 0 0.75em;
  padding: 0.25em 0.5em;
}

.field--name-field-cta-links a:first-child {
  margin-left: 0;
}

.field--name-field-cta-links a:last-child {
  margin-right: 0;
}
