// Hero Blocks
//------------------------------------------------------------------------------
@import 'variables';

$hero-height: 30rem;

.block--hero {
  @media #{$desktop} {
    height: $hero-height;
  }
  display: table;
  max-width: none;
  width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: (0.55 * $hero-height);

  &:before {
    background-color: rgba(0, 0, 0, 0.25);
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.hero__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 20;
}

// Background images
.hero__image {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: none;
  }
}

.hero__title {
  color: white;
  line-height: 1;
  margin-bottom: 0.25em;
}

.hero__subtitle {
  color: white;
  margin-bottom: 2em;
}

.hero__links {
  a {
    background-color: black;
    border-radius: 2em;
    color: white;
    display: inline-block;
    margin: 0 0.75em;
    padding: 0.5em 2em;
  }
}
