// Hero Blocks
//------------------------------------------------------------------------------
@import 'variables';

$hero-height: 100vh;
$hero-width: 75em;
$hero-padding: 0.9375em;

.block--hero {
  overflow: hidden;
  position: relative;
  z-index: 0;

  &:before {
    background-color: rgba(0, 0, 0, 0.25);
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.hero__content {
  @media #{$desktop} {
    min-height: $hero-height;
  }
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: $hero-width;
  min-height: (0.55 * $hero-height);
  padding: 10em $hero-padding;
}

.hero__content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  z-index: 20;
}

// Background images
.hero__image {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: none;
  }
}

.hero__title {
  color: white;
  line-height: 1;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

.hero__subtitle {
  color: white;
  margin-bottom: 2em;
}

.hero__links {
  display: flex;

  a {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}
